{:paths ["src"]
 :deps {babashka/process {:mvn/version "0.5.21"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        com.taoensso/timbre {:mvn/version "6.2.1"}
        nrepl/nrepl {:mvn/version "1.0.0"}
        org.babashka/cli {:mvn/version "0.7.52"}
        ring/ring-core {:mvn/version "1.10.0"}
        ring/ring-jetty-adapter {:mvn/version "1.10.0"}}
 :aliases {:dev {:extra-deps {djblue/portal {:mvn/version "0.42.1"}}}}}
